body {
    background-image: url('lovely.jpg');
    background-position: center;
    background-repeat: no-repeat;

}

h4 {
    font-size: larger;
    color: chartreuse;

}

div {
    margin-bottom: auto;
    padding: 3%;
}

table {
    background-color: aliceblue;
    border-collapse: collapse;
    width: 71%;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1%;
}

table td {
   border:2px solid #000;
}

label {
    background-color: white;
}
#dateOne {
    color: blue;
}
#dateTwo {
    color: red;
}

.mystyle {
    background-color: green;
}

.mydate1 {
    background-color: blue;
}

.mydate2 {
    background-color: red;
}
